/*
 * @ def  	: style of grid
 * ----------------------------------------------
 *
 * @ author : razaki team 
 * @ link	: http://razakitechnology.com
 */

/* grid first dfinition here **/
 
.custom-grid {border:0px solid #000;height:24px;	}
.header_order{text-decoration:none;color:#6d799b;border:0px solid #000;cursor:pointer;}
.header_order:hover{text-decoration:none;color:#FF4321;border:0px solid #000;cursor:pointer;}

/* th on table of grid */

.th-first{
font-family:Arial;font-size:11px;color:#000;font-weight:normal;border:0px solid #000;
background:url('../../../../library/gambar/content_top.png');height:27px;border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;color:#24385c;
}

/* th on table of grid */

.th-middle{
font-family:Arial;font-size:11px;color:#000;font-weight:normal;background:url('../../../../library/gambar/content_top.png');
background-position:top; height:27px;border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;color:#24385c;}
.left{ text-align:left;}

/* th on table of grid */

.th-lasted{
font-family:Arial;font-size:11px;color:#000;font-weight:normal;
border-bottom:1px solid #eeeeee;background:url('../../../../library/gambar/content_top.png');background-position:100% 0%; height:27px;color:#24385c;}

/* th on table of grid */
.content-first{
text-align:center;font-family:Arial;font-size:11px;
font-weight:normal;border-right:1px solid #eeeeee;height:24px;	
border-bottom:1px solid #eeeeee;border-left:1px solid #eeeeee;
}
/* th on table of grid */
.content-lasted{font-family:Arial;font-size:11px;font-weight:normal;border-right:1px solid #eee;height:24px;padding-left:4px;border-bottom:1px solid #eeeeee;}
.content-middle{ font-family:Arial; font-size:11px; font-weight:normal; border-right:1px solid #eee; height:24px;padding-left:4px; border-bottom:1px solid #eeeeee; }
.up-rows {font-size:15px;color:red;}
.down-rows {font-size:11px;color:red;}
.onselect:hover{background-color:#fffccc;color:#703c04;}

/* customize footer history */

.page-web-voice{padding:2px;margin-top:-15px;margin-bottom:0;font-size:10px;vertical-align:center;border-top:1px solid #ebfef7;clear:both}
.page-web-voice ul{font-size:11px;font-weight:normal;margin-top:0;padding:0;list-style:none;display:inline-table;color:#87aacb;background-color:transparent;color:red}
.page-web-voice span{margin-top:-10px}.page-web-voice-current{background-color:#25bcfb;color:#fff}
.page-web-voice-normal{color:#87aacb;background-color:transparent;color:red}
.page-web-voice li{cursor:pointer;margin:1px;border:1px solid #ddd;padding-left:4px;padding-right:4px;padding-bottom:2px;padding-top:2px}
li.title-pages{border:0 solid #fff;padding-left:4px;padding-right:4px;padding-bottom:2px;margin:1px;font-size:11px;color:#1b7f98}
.page-web-voice li.title-pages:hover{background-color:transparent;color:red}.page-web-voice a{text-decoration:yes}
.page-web-voice li:hover{background:#25bcfb;color:#fff}.page-web-voice ul li{display:block;position:relative;float:left}

span.desc { color:red; background:url(../../../../library/gambar/icon/bullet_arrow_top.png) no-repeat; padding-left:12px; }
span.asc { background:url(../../../../library/gambar/icon/bullet_arrow_bottom.png) no-repeat; padding-left:12px; }

