@import url("styles.helper.css");
@import url("styles.chat.css");
@import url("styles.grid.css");
@import url("styles.icon.css");
@import url("easyui.template.css");
@import url("easyui.icon.css");
@import url(easyui.tree.css);
@import url(styles.window.css);
@import url(styles.complete.css);

.font-standars {
	font-family:Arial;
	font-size:11px;
}

.header-user-login{
	margin-top:5px;
	margin-right:8px;
	border:0px solid #000;
}
.header-user-login {
	padding:2px;
	font-family:Arial;
	font-size:11px;
	list-style: none;
	display: inline-table;
	float:right;
}
.header-user-login li{
	color:#797c9b;
	padding-left:8px;
	padding-right:8px;
	list-style: none;
	display: inline-table;
	float:left;
}
li.first{
	font-size:12px;
	border-right:0px solid #ddd;
}
li.middle{
	border-right:1px solid #ddd;
}
li.lasted{
	padding-left:25px;
	background:url('../../../../library/gambar/icon/time.png') no-repeat;
	background-position : 3px 0px;
	border-right:0px solid #ddd;
	padding-bottom:1px;
}

/* button standars example */


/* top-right-bottom-left **/

.button{ padding-left:20px; padding-right:5px; padding-bottom:22px; padding-top:5px; border:1px solid #c6d0e6; vertical-align:middle;margin:8px 8px 8px 0px;  background-color:#f2f6f4;color:#067346;font-family:Arial;font-size:11px; font-weight:bold;cursor:pointer; background-position: 4px 5px;}
.button:hover{background-color:#d6e1f6;color:red;cursor:pointer;color:white;}
.divbutton{padding:3px 5px 0px 20px; border:1px solid #c6d0e6; vertical-align:middle;margin:2px 8px 0px 2px;  background-color:#f2f6f4;color:#067346;font-family:Arial;font-size:11px; font-weight:bold;cursor:pointer; background-position: 4px 3px;}
.divbutton:hover{ background-color:#d6e1f6;color:red;cursor:pointer;color:white;}

.textarea { border:1px solid #dddddd;background:#fcffff url('../../../../library/gambar/pager_bg.png') repeat-x;font-size:12px;font-family:Arial;color:#0c1c3a;height:75px;}
li.first:hover{color:blue;cursor:pointer;}
li.middle:hover{cursor:pointer;color:blue;}
li.lasted:hover{cursor:pointer;color:blue;}
div#result_content_add td{padding:4px}div#cmp_top_content td{padding:4px}.subcontent td{font-size:13px}.subcontent input{color:#000;border:1px solid #ddd;background:url('../../../../library/gambar/square-blue-right.gif') no-repeat top left;width:200px;height:20px}.top-content fieldset{border:1px dotted #ddd;height:400px}.top-content legend{color:red;font-weight:normal;font-size:15px}.subcontent select{color:#000;border:1px solid #ddd;background:url('../../../../library/gambar/square-blue-right.gif') no-repeat top left;width:200px;height:24px}.contact_detail legend{color:red;font-size:14px}.call_activity{height:auto;border:1px solid #ddd;margin-top:-10px}.call_phone{border:1px solid #ddd;margin-top:10px}.call_activity legend{color:red;font-size:12px}.call_phone legend{color:red;font-size:12px}.call_activity b{color:#024284;font-weight:normal;font-family:arial}.call_phone b{color:#024284;font-weight:normal;font-family:arial}.corner{border:1px solid #ddd;padding-top:3px;padding-left:4px;padding-right:4px}.corner legend{font-size:13px;color:#024284}#pager{background:url('../../../../library/gambar/pager_bg.png');font-family:Arial;font-size:11px;margin-left:6px;border:1px solid #ddd;margin-top:-5;height:30px;margin-right:6px;margin-bottom:20px;padding-left:4px;padding-top:4px}div#toolbars{font-family:arial;font-size:11px;background:url('../../../../library/gambar/pager_bg.png');margin-left:6px;border:1px solid #ddd;height:30px;margin-right:6px;padding-left:4px;padding-top:2px}div#toolbars input{border:1px solid #add8e6;font-family:Arial;color:#696969;font-size:12px;margin-right:6px;margin-bottom:8px;background:url('../../../../library/gambar/input.gif');background-position:80% 20%;height:19px;padding-left:4px;margin-top:-6px}div#toolbars select{border:1px solid #add8e6;font-family:Arial;color:#696969;font-size:11px;margin-right:6px;margin-bottom:8px;background:url('../../../../library/gambar/input.gif');background-position:80% 20%;height:20px;padding-left:3px;margin-top:-6px}div#toolbars b{font-family:Arial;color:red;font-size:11px;font-weight:normal}.toolbars{font-family:arial;font-size:11px;background:url('../../../../library/gambar/pager_bg.png');margin-left:6px;border:1px solid #ddd;height:30px;margin-right:6px;padding-left:4px;padding-top:2px}.toolbars input{border:1px solid #add8e6;font-family:Arial;color:#696969;font-size:12px;margin-right:6px;margin-bottom:8px;background:url('../../../../library/gambar/input.gif');background-position:80% 20%;height:19px;padding-left:4px;margin-top:-6px}.toolbars select{border:1px solid #add8e6;font-family:Arial;color:#696969;font-size:11px;margin-right:6px;margin-bottom:8px;background:url('../../../../library/gambar/input.gif');background-position:80% 20%;height:20px;padding-left:3px;margin-top:-6px}.toolbars b{font-family:Arial;color:red;font-size:11px;font-weight:normal}#customer_panel{margin-top:10px;padding-bottom:8px}.box-shadow{padding:2px;-moz-box-shadow:10px 10px 5px #888;-webkit-box-shadow:10px 10px 5px #888;box-shadow:2px 2px 5px #888;border:1px solid #eee;margin:4px;padding:2px}.sub_main_content th{color:#5a5956;text-align:right;font-size:12px;height:22px;font-family:Arial}.sub_main_content td{padding-left:2px;font-family:Arial;font-size:11px}.sub_main_content input{padding-left:2px;border:1px solid #a2a096;font-family:Arial;font-size:11px;background-color:#fffccc}.sub_main_content chekcbox{text-align:right;font-size:11px;height:22px;font-family:Arial;background-color:#fffccc}.content_th_top{background-color:#fff}.sub_main_content select{font-family:Arial;border:1px solid #a2a096;font-size:11px;height:20px;background-color:#fffccc}.sub_main_content textarea{border:1px solid #a2a096;font-size:11px;overflow:'hidden';background-color:#fffccc}.contact_detail fieldset{border:1px solid #ddd;background-color:#fff;font-family:Arial;font-size:11px}.h3{float:right;padding-left:6px;width:200px;margin-left:5px;margin-top:5px;margin-bottom:20px;color:#746b6a}#message-body{background:url('../../../../library/gambar/pager_bg.png') repeat-x;text-align:left;font-family:Arial;padding-top:5px;border:0 solid #000}#text-title{margin-top:-10px;margin-left:3px;font-size:12px;font-weight:bold;color:green}#message-title{padding-top:5px}#content-msg{border:1px solid #ddd;height:200px;margin-top:5px;background-color:#fffccc;text-align:Justify;color:green;margin-left:5px;margin-right:5px;margin-bottom:5px;line-height:16px;font-size:11px;width:315px;padding:4px;word-wrap:break-word}#mainContainer{width:760px;margin:0 auto;text-align:left;height:100%;background-color:#FFF;border-left:3px double #000;border-right:3px double #000}form{display:inline}img{border:0}.select{border:1px solid #cccddd;font-size:11px;height:22px;background:url(../../../../library/gambar/input_bg.png);width:auto}.input_text{border:1px solid #cccddd;font-size:11px;height:20px;background:url(../../../../library/gambar/input_bg.png)}.text_header{text-align:right;color:red;font-size:12px;font-family:Trebuchet MS}.text_caption{padding-top:2px;padding-bottom:2px;color:#223777;font-size:12px;font-family:Trebuchet MS;text-align:right}.box{width:70px}.long{width:180px}.auto{width:'100%'}.date{width:70px}.select_multiple{border:1px solid #ddd;height:100px;font-size:11px;background-color:#fffccc}.left{text-align:left}.right{text-align:right}.center{text-align:center}.kotak{width:30px}div p{font-size:11px}input[type="checkbox"]{height:1.2em;width:1.2em;vertical-align:middle;margin:0 .4em .4em 0;border:1px solid rgba(0,0,0,0.3);background:-webkit-linear-gradient(#fcfcfc,#dadada);-webkit-appearance:'yes';-webkit-transition:box-shadow 100ms;box-shadow:inset 1px 1px 0 #fff,0 0 7px rgba(0,0,0,0.3);-webkit-border-radius:2px;border-radius:2px}a.sbutton{background:transparent url(../../../../library/gambar/square-green-left.gif) no-repeat top left;display:block;float:left;font:normal 12px Arial;line-height:15px;height:23px;padding-left:9px;text-decoration:none}.divbutton{overflow:hidden;width:100%}a:link.sbutton,a:visited.sbutton,a:active.sbutton{color:#494949}a.sbutton span{background:transparent url(../../../../library/gambar/square-green-right.gif) no-repeat top right;display:block;padding:4px 9px 4px 0}a.sbutton:hover{background-position:bottom left}a.sbutton:hover span{background-position:bottom right;color:black}.corner table td{padding:2px}


/* content faq style **/
.news-bradcumb-content{padding:2px;font-family:Arial;font-size:12px;color:#bbbddd;list-style:none;display:inline-table;float:right;margin-top:-4px}
.news-title-content{color:#578aba;font-family:Trebuchet MS;font-weight:bold;background-color:#f0f7fd;border-bottom:0 solid #d9e4ee;line-height:22px;padding-left:4px;padding-top:5px;padding-bottom:5px;margin-bottom:5px}
.news-bradcumb-content li{color:#487fb3;font-weight:normal;font-family:Arial;font-size:11px;list-style:none;display:inline-table;padding-left:8px;padding-right:8px;float:left}
li.first-news{border-left:0 solid #dddddd}
li.middle-news{border-left:1px solid #dddddd;border-right:0px solid #dddddd}
li.lasted-news{border-left:1px solid #dddddd}
li.category{padding-left:25px;background:url('../../../../library/gambar/icon/time.png') no-repeat 4px 4px;}
li.edit{padding-left:25px;background:url('../../../../library/gambar/icon/pencil.png') no-repeat 4px 4px}
li.back{padding-left:25px;background:url('../../../../library/gambar/icon/house.png') no-repeat 4px 4px}
li.detail{padding-left:25px;background:url('../../../../library/gambar/icon/zoom.png') no-repeat 6px 4px;}
.news-bradcumb-content a{text-decoration:none;color:#a4bdd4;}
.news-bradcumb-content a:hover{text-decoration:none;color:red;}
.news-bradcumb-content li:hover{cursor:pointer;background-color:#fff;display:block;color:red}
.news-div-content{font-size:12px;line-height:18px}a.mores:hover{color:red;text-decoration:none}a.mores{color:blue;text-decoration:none}
.span-more{padding-left:15px;background:url('../../../../library/gambar/icon/bullet_feed.png') no-repeat 0 -1px}
.span-more:hover{color:red;cursor:pointer;}
.box-news{margin-left:10px;margin-right:20px;float:left;border:1px solid #eeeeee;padding:4px;}
.bottom{border-bottom:1px solid #dddddd;}