/* default styles
   -------------- */
   
html{
	background-color: #ffffff;
}
body {
  background: #ffffff;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 11px;
 
}
table{ padding:8px;}
a {	color: #E0691A;	background: inherit;}
a:hover { color: #6C757A; background: inherit; }

h1 { font: normal 2.4em "Trebuchet MS", Arial, Sans-Serif; padding: 1px 0 0 8px; margin: 0; }
h1 a { color: #737373; background: inherit; }
.le-frog { color: #285C00; }
sup { font-size: .5em; }

h1 a, h2 a { color: #FF6600; text-decoration: none; }
h1 a:hover, h2 a:hover { color: #FF6600; background: inherit; }
h2 { font-size: 1.5em; margin-bottom: 5px; color: #000; background: inherit; }
p {	margin: 0 0 5px 0; }

ul { list-style : none; }

#loading { position: absolute; top: 40%; left: 40%; width:50px; padding: 5px 10px; font: 13px Arial; z-index:2;}

/* layout
   -------------- */
#wrapper {
	
}
#main_content {
	color: #000000;
	padding-left: 20px;
	font-size: 1.1em;
}
#foot {
	font-size: 1.1em;
	line-height: 2.8em;
	height: 36px;
	text-align: center;
	border:1px dotted #808080;
	position:absolute;
	/*background: #fff url(../../../library/gambar/headerbg.gif) repeat-x bottom;*/
	bottom:0;
	width: 99.8%;
	overflow:auto;
}
.table {
	display: table;
}
.table_row {
	display: table-row;
}
.table_cell {
	display: table-cell;
}

#accordion {
	padding: 4px;
	width: 190px;
}
#accordions {
	padding:0px 4px 4px 4px;
	width: 190px;
}
#split {
	height:280px;
	width:200px;
	border:1px dotted #999;
	margin-top : 5px;
	overflow:auto;
}
.menu {}
.menu ul, .menu ul li {
	display: inline;
	font-size: 1em;
	text-align: center;
	line-height: 25px;
	list-style-type: none;
	margin:0;
	padding:0;
}
.menu ul {height:25px;}
.menu ul li a {
	display: block;
	/*background:transparent url(../../../../images/menu_bg.png) no-repeat scroll center bottom;**/
	
	color:#aaaaaa;
	height:25px;
	text-decoration:none;
}
.menu ul li.selected a {
	color:#ff6600;
	background:transparent url(../images/menu_bg_hover.png) no-repeat scroll center bottom;
}
.menu ul li.last a {background: none;}
input.exportbtn { 
		background: #E0691A url(../../../../library/gambar/exprt.gif) no-repeat;
		border: 0;
		padding: 0 0 0 20px;
		width: 65px;
		height: 16px;
		margin: 0 0 0 0;
		color: #FFF;
		font: bold 1em Arial, Sans-Serif;
		font-size:10px;
		text-align:left;
		
		}
.menu ul li a:hover {
	color:#ff6600;
	background:transparent url(../../../../images/menu_bg_hover.png) no-repeat scroll center bottom;
}
.menu ul li.last a:hover {
	color:#ff6600;
	background: none;
}
.top_logo {
	padding: 2px 0 2px 0;
	color: #808080;
	float: left;
}

.top_logo_left {
		float: left;
	}
	
.top_logo_right {
		padding: 0 0 0 35px;
		float: right;
	}
	
.top_info {
	width: 555px;
	padding: 2px 0 2px 0;
	color: #808080;
	float: right;
}

.top_info_left {
		width: 250px;
		float: left;
	}
	
.top_info_right {
		
		width: 290px;
		padding: 0 0 0 0;
		float: right;
	}
	
.content_table {
	color: #414141;
	padding-left: 5px;	
	padding-right: 5px;	
	padding-top:8px;
	padding-bottom:8px;
	margin-bottom:200px;
	margin: 1px 0px 1px 0px;
}

.content_table_pod_dup {
	background: #f5f5f5;
	color: #414141;
	padding: 8px;	
	margin: 1px 0px 1px 0px;
	overflow:scroll;
}

.list_table {
	background: #f5f5f5;
	color: #414141;
	padding: 0 0 0 0;	
	margin: 0 0 0 0;
}
/* filter form 
----------------------------------*/
.filter { 
  background: #eee;
	color: #808080;
	padding:  2px 0 2px 10px;
	margin: 0 0 0 0;
}

.divcontent{
	color: #808080;
	padding:  2px 0 2px 10px;
	margin: 0 0 0 0;
}
.filter .filter { font-size: 1em; }
.filter input, .filter textarea { 
  background: url(../../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 14px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
.filter select { 
  background: url(../../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 20px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
.filter button { 
  background: url(../../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 20px;
  color: #222222;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
}
.divcontent button {
	border: 1px solid #d0d0d0;
	height: 20px;
	color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
/* activity form 
----------------------------------*/
.activity { 
  padding:  0px 0 0px 10px;
	margin: 0 0 0 0;
}

.activity .activity { font-size: 1em; }
.activity input { }
.activity select { 
  height: 17px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
.activity button { 
  background: url(../../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 20px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

/* dial form 
----------------------------------*/
.dial { 
	padding:  0px 0 0px 10px;
	margin: 0 0 0 0;
}
.dial .dial { font-size: 1em; }
.dial input, .dial textarea { 
  background: url(../../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 14px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
.dial select { 
  background: url(../../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 20px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}


.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height:1%; }
.clearfix {display:block;}
/* End hide from IE-mac */

#left_menu ul li a{ color: #FF6600; text-decoration: none; }
#left_menu ul li a:hover{ color: #FF6600;font-size:11px;color:blue;}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */


.chatLine{border-bottom:1px dotted blue;padding:5px;}

/* pure **/
#notification{position:absolute;z-index:99;}
#accordion { border:0px solid #000;width:200px;}
#panel_user{border:1px solid #000000;}
p span {font-size:12px;font-family:Trebuchet MS;line-height:22px;}
.px {font-size:9px;font-family:Trebuchet Ms;color:#000;}
#purr-container {position: fixed;top: 0;right: 0}
.notice {position: relative;width: 324px;}
.notice .close{position: fixed; top: 12px; right: 12px; display: block; width: 18px; height: 17px; text-indent: -9999px; background: url(../../../../library/gambar/purrClose.png) no-repeat 0 10px;}
.notice-body {min-height: 50px;padding: 22px 22px 0 22px;background: url(../../../../library/gambar/purrTop.png) no-repeat left top;color: #f9f9f9;}
.notice-body img {width: 50px; margin: 0 10px 0 0; float: left;}
.notice-body h3 {margin: 0; font-size: 1.1em;}
.notice-body p {margin: 5px 0 0 60px; font-size: 0.8em; line-height: 1.4em;}
.notice-bottom {height: 22px;background: url(../../../../library/gambar/purrBottom.png) no-repeat left top;}
h3 a {font-size:12px;color:#FFF}
h3 a:hover {font-size:12px;color:#FFF}

