table {font-family:Arial, Helvetica, sans-serif;font-size:11px;}
table.product-box-content{margin-top:-8px;}
td.header-product-title{font-weight:bold;background-color:#FBAA27;font-size:12px;color:#FFF;}
td.header-product-content{border:1px solid #eee;background:url(../images/shaded_corner.jpg) 0% top no-repeat;filter:alpha(opacity=60);}
div.product-title-icon{padding:0px 0px 0px 20px; border:0px solid #000;height:16px;}
div.product-footer-button{margin-top:10px;float:right;}
.select{ height:25px; }
.input_text{ height:16px; }
.input_text:hover{ border:1px solid #FBAA27;background-color:#f0efbf; }
.select:hover{ border:1px solid #FBAA27;background-color:#f0efbf; }
.box-product{border-left:1px solid #dddddd;float:left;padding:6px;both:clear;}
a.sbutton{margin-left:8px;font-weight:bold;}
.required{color:red;}
.valid{ border-color:1px solid red;}