/*
 * @ def  	: style of grid
 * ----------------------------------------------
 *
 * @ author : razaki team 
 * @ link	: http://razakitechnology.com
 */

/* grid first dfinition here **/
 
.custom-grid {border:0px solid #000;height:24px;	}
.header_order{text-decoration:none;border:0px solid #000;cursor:pointer;}
.header_order:hover{text-decoration:none;border:0px solid #000;cursor:pointer;}

/* th on table of grid */

.th-first{
vertical-align:middle;
font-family:Arial;font-size:11px;color:#000;font-weight:normal;border:0px solid #000;
background:url('../../../../library/gambar/content_top.png');height:27px;border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;color:#24385c;
}

/* th on table of grid */

.th-middle{
vertical-align:middle;
font-family:Arial;font-size:11px;color:#000;font-weight:normal;background:url('../../../../library/gambar/content_top.png');
background-position:top; height:27px;border-right:1px solid #eeeeee;border-bottom:1px solid #eeeeee;color:#24385c;}
.left{ text-align:left;}

/* th on table of grid */

.th-lasted{
	vertical-align:middle;
font-family:Arial;font-size:11px;color:#000;font-weight:normal;
border-bottom:1px solid #eeeeee;background:url('../../../../library/gambar/content_top.png');background-position:100% 0%; height:27px;color:#24385c;}

/* th on table of grid */
.content-first{
text-align:center;font-family:Arial;font-size:11px; vertical-align:middle;
font-weight:normal;border-right:1px solid #eeeeee;height:24px;	
border-bottom:1px solid #eeeeee;border-left:1px solid #eeeeee;
}
/* th on table of grid */
.content-lasted{font-family:Arial;font-size:11px;font-weight:normal;border-right:1px solid #eee;height:24px;padding-left:4px;border-bottom:1px solid #eeeeee;}
.content-middle{ font-family:Arial; font-size:11px; font-weight:normal; border-right:1px solid #eee; height:24px;padding-left:4px; border-bottom:1px solid #eeeeee; }
.up-rows {font-size:15px;color:red;}
.down-rows {font-size:11px;color:red;}
.onselect:hover{background-color:#fffccc;color:#703c04;}
.selected-rows{background-color:green;color:#FFFFFF;}
.bottom { border-bottom:1px solid #dddddd; }
.valign-top{vertical-align:top;}
.valign-midle{vertical-align:middle;}


/* customize -text-part of grid */

.left-text{ text-align:left;}
.center-text{ text-align:center; }
.right-text{ text-align:right;}
.justify-text{text-align:justify;line-height:20px;color:#b66c0d;}

/* grid table */

th.contact-history-table {padding:2px;border-bottom:1px solid #a8a9af;height:24px;color:#FFFFFF;}
th.first{ border-right:1px solid #dddddd; }
th.first:hover{ color:red;	cursor:pointer; background: #FFCB37;}
td.contact-history-table {padding:0px;color:#6f6f94;background:url(../../../../library/gambar/textarea_bg.png) repeat-x;}
td.content-history-list {padding:0px;color:#6f6f94;background:url(../../../../library/gambar/textarea_bg.png) repeat-x;}
td.contents-middle{border-top:1px solid #c4c4d1;border-left:1px solid #e5e5eb;}
div.text-content{ resize:both; overflow:auto;vertical-align:top;}
td.first{border-top:1px solid #c4c4d1; border-left:1px solid #e5e5eb;height:30px;}
td.middle{border-top:1px solid #c4c4d1;border-left:1px solid #e5e5eb;height:30px;}
td.lasted{border-top:1px solid #c4c4d1;border-right:1px solid #e5e5eb;border-left:1px solid #e5e5eb;height:30px;}
td.first:hover{color:red;cursor:pointer;background-color:#FFFFFF;}
td.middle:hover{color:red;cursor:pointer;background-color:#FFFFFF;}
td.lasted:hover{color:red;background-color:#FFFFFF; cursor:pointer;}
span.call-status{font-weight:bold;color:#BBB000;}
span.result-status{font-weight:bold;color:#FF4321;}


/* customize footer history */

.page-web-voice{padding:2px;margin-top:-15px;margin-bottom:0;font-size:11px;vertical-align:center;border-top:1px solid #ebfef7;clear:both}
.page-web-voice ul{font-size:12px;font-weight:normal;margin-top:0;padding:0;list-style:none;display:inline-table;color:#87aacb;background-color:transparent;color:red}
.page-web-voice span{margin-top:-10px}.page-web-voice-current{background-color:#25bcfb;color:#fff}
.page-web-voice-normal{color:#87aacb;background-color:transparent;color:red}
.page-web-voice li{cursor:pointer;margin:1px;border:1px solid #ddd;padding-left:8px;padding-right:8px;padding-bottom:4px;padding-top:4px}
li.title-pages{border:0 solid #fff;padding-left:4px;padding-right:4px;padding-bottom:2px;margin:1px;font-size:11px;color:#1b7f98}
.page-web-voice li.title-pages:hover{background-color:transparent;color:red}.page-web-voice a{text-decoration:yes}
.page-web-voice li:hover{background:#25bcfb;color:#fff}.page-web-voice ul li{display:block;position:relative;float:left}


span.desc { color:red; background:url(../../../../library/gambar/icon/bullet_arrow_top.png) no-repeat; padding-left:12px; }
li.page-bottom-custom-grid{ color:#02094d;display: inline;list-style-type: none;padding-left:8px;padding-right:8px; padding-top:2px; padding-bottom:2px;}
li.first{ border-right:1px solid #dddddd;}
li.middle{ border-right:1px solid #dddddd;}
li.lasted{ border-right:0px solid #dddddd;}
li.total-record{background:url(../../../../library/gambar/icon/table.png) no-repeat 2% 2%;padding-left:25px; color:red;}
li.refresh{background:url(../../../../library/gambar/icon/table_refresh.png) no-repeat 10% 10%;padding-left:25px; color:red;}
li.refresh{cursor:pointer;}
li.summary{ background:url(../../../../library/gambar/icon/sum.png) no-repeat 2% 2%;padding-left:25px; color:#066399;}
div.page-bottom-custom-nav{float:right;margin-right:40px;margin-top:6px;font-size:11px;color:#595e6f; border:0px solid #000000;}
span.asc { background:url(../../../../library/gambar/icon/bullet_arrow_bottom.png) no-repeat; padding-left:12px; }

