#product-box-content{margin-top:8px;}
div.product-title-icon{padding:0px 0px 0px 20px; border:0px solid #000;height:16px;}
/*div.product-footer-button{margin-top:10px;float:right;} */
.select{ height:22px; }
.input_text{ height:18px; }
.input_text:hover{ border:1px solid #FBAA27;background-color:#f0efbf; }
.select:hover{ border:1px solid #FBAA27;background-color:#f0efbf; }
.box-product{border:1px solid #dddddd;float:left;width:400px;padding:6px;margin:5px;}
a.sbutton{margin-left:8px;font-weight:bold;}
.required{color:red;}
#result_content_add{ margin-right:4px;width:700px;}