/*
 * @ def 	 : Style Of Core all customization  
 * ----------------------------------------------
 *
 * @ param	 : import general all Css styles on here 
 * @ author	 : razaki team 
 * @ notes	 : remove if never used for faster aksess
 *
 */
 
/* 
 * @ def	 : import all css Here! 
 * -------------------------------------------
 *
 * @ param  : null		
 */
 
 @import url("styles.helper.css");
 @import url("styles.other.css");
 @import url("styles.screen.css");
 @import url("styles.chat.css");
 @import url("styles.grid.css");
 @import url("styles.icon.css");
 
/* 
 * @ def	 : import all css Here! 
 * -------------------------------------------
 *
 * @ param  : null		
 */
  
.subcontent td{font-size:13px;}
.subcontent input { color:#000;border:1px solid #ddd; background:url('../../../../library/gambar/square-blue-right.gif') no-repeat top left; width:200px; height:20px;}
.top-content fieldset{border:1px dotted #ddd;height:400px;}
.top-content legend{color:red;font-weight:normal;font-size:15px;}
.subcontent select {color:#000;border:1px solid #ddd;background:url('../../../../library/gambar/square-blue-right.gif') no-repeat top left; width:200px; height:24px;}
.corner{border:1px solid #dddddd;padding-top:3px;}
.corner legend {font-size:13px;color:#024284;}
.contact_detail legend{color:red;font-size:14px;}
.call_activity {height:auto;border:1px solid #dddddd;margin-top:-10px;}
.call_phone{border:1px solid #dddddd;margin-top:10px;}
.call_activity legend {color:red;font-size:12px;}
.call_phone legend{ color:red;font-size:12px;}
.call_activity b{color:#024284;font-weight:normal;font-family:arial;}
.call_phone b{color:#024284;font-weight:normal;font-family:arial;}		
.button{ padding-left:20px; padding-right:5px; padding-bottom:22px; padding-top:5px; border:1px solid #c6d0e6; vertical-align:middle;margin:8px 8px 8px 0px;  background-color:#f2f6f4;color:#067346;font-family:Arial;font-size:11px; font-weight:bold;cursor:pointer; background-position: 4px 5px;}
.button:hover{background-color:#d6e1f6;color:red;cursor:pointer;color:white;}
.divbutton{padding:3px 5px 0px 20px; border:1px solid #c6d0e6; vertical-align:middle;margin:2px 8px 0px 2px;  background-color:#f2f6f4;color:#067346;font-family:Arial;font-size:11px; font-weight:bold;cursor:pointer; background-position: 4px 3px;}
.divbutton:hover{ background-color:#d6e1f6;color:red;cursor:pointer;color:white;}
  
/* pages style on CSS by jquery **/
#pager{ background:url('../../../../library/gambar/pager_bg.png'); margin-left:6px;border:1px solid #ddd;margin-top:-5;height:30px;margin-right:6px; padding-left:4px;padding-top:4px; }

/* toolbar plug in by class  **/

div.toolbars{background:url('../../../../library/gambar/pager_bg.png'); margin-left:6px;
border:1px solid #ddd; height:30px;margin-right:6px; padding-left:4px;padding-top:2px;}
div.toolbars input{ border:1px solid #ADD8E6; font-family:Arial; color:#696969;font-size:12px;margin-right:6px;margin-bottom:8px;background:url('../../../../library/gambar/input.gif');background-position:80% 20%; 
height:19px;padding-left:4px;margin-top:-6px;}
div.toolbars select{border:1px solid #ADD8E6;font-family:Arial;color:#696969;font-size:11px;margin-right:6px;margin-bottom:8px;background:url('../../../../library/gambar/input.gif');background-position:80% 20%; 
height:20px;padding-left:3px;margin-top:-6px;}
div.toolbars b{font-family:Arial;color:red;font-size:11px;font-weight:normal;}

/* toolbar plug in by class  **/

#toolbars{background:url('../../../../library/gambar/pager_bg.png'); margin-left:6px;border:1px solid #ddd;height:30px;margin-right:6px;padding-left:4px;padding-top:2px;}
#toolbars input{border:1px solid #ADD8E6;font-family:Arial;color:#696969;font-size:12px;margin-right:6px;margin-bottom:8px;background:url('../../../../library/gambar/input.gif');background-position:80% 20%; 
height:19px;padding-left:4px;margin-top:-6px;}
#toolbars select{border:1px solid #ADD8E6;font-family:Arial;color:#696969;font-size:11px;margin-right:6px;margin-bottom:8px;background:url('../../../../library/gambar/input.gif');background-position:80% 20%; 
height:20px;padding-left:3px;margin-top:-6px;}
#toolbars b{font-family:Arial;color:red;font-size:11px;	font-weight:normal;}

/* remove not need **/

#customer_panel{margin-top:10px; padding-bottom:8px;}
.box-shadow{padding:2px;-moz-box-shadow: 10px 10px 5px #888;-webkit-box-shadow: 10px 10px 5px #888;box-shadow: 2px 2px 5px #888;border:1px solid #eeeeee;margin:4px;padding:2px;}
.sub_main_content th{color:#5a5956;text-align:right;font-size:12px;height:22px;font-family:Arial;}
.sub_main_content td{padding-left:2px;font-family:Arial;font-size:11px;}
.sub_main_content input{ padding-left:2px;border:1px solid #a2a096;font-family:Arial;font-size:11px;background-color:#fffccc;}
.sub_main_content chekcbox {text-align:right;font-size:11px;height:22px;font-family:Arial;background-color:#fffccc;}
.content_th_top{background-color:#FFFFFF;}
.sub_main_content select {font-family:Arial;border:1px solid #a2a096;font-size:11px;height:20px;background-color:#fffccc;}	
.sub_main_content textarea{border:1px solid #a2a096;font-size:11px;overflow:'hidden';background-color:#fffccc;}
.contact_detail fieldset{border:1px solid #dddddd;background-color:#FFFFFF;font-family:Arial;font-size:11px;}
.h3{ float:right;padding-left:6px;width:200px;margin-left:5px;margin-top:5px;margin-bottom:20px;color:#746b6a;}

/** Message css box **/

#message-body{background:url('../../../../library/gambar/pager_bg.png') repeat-x; text-align:left;font-family:Arial;padding-top:5px;border:0px solid #000;}
#text-title{margin-top:-10px;margin-left:3px;font-size:12px;font-weight:bold;color:green;}
#message-title{padding-top:5px;}
#content-msg{ border:1px solid #dddddd;height:200px;margin-top:5px;background-color:#fffccc;text-align:Justify;color:green;
margin-left:5px;margin-right:5px;margin-bottom:5px;line-height:16px;font-size:11px;width:315px;padding:4px;word-wrap: break-word;}

/*START CSS NEEDED ONLY IN DEMO */

#mainContainer{width:760px;margin:0 auto;text-align:left;height:100%; background-color:#FFF;border-left:3px double #000;border-right:3px double #000;}

/*END CSS ONLY NEEDED IN DEMO */

form{display:inline;}
img{border:0px;}

/** set style global **/
.select {border:1px solid #cccddd;font-size:11px;height:22px;background:url(../../../../library/gambar/input_bg.png);}
.input_text {border:1px solid #cccddd;font-size:11px;height:18px;background:url(../../../../library/gambar/input_bg.png);}
.text_header {text-align:right;color:red;font-size:12px;font-family:Trebuchet MS;}
.text_caption{ color: #223777;font-size:12px;font-family:Trebuchet MS;text-align:right;}
.box{width:80px;}
.long{width:180px;}
.auto{width:'100%';}
.date{width:70px;}
.select_multiple { border:1px solid #dddddd;height:100px;font-size:11px;background-color:#fffccc;}
.left { text-align:left;}
.right{ text-align:right;}
.center{ text-align:center;}

/* only firefox && crome */

input[type=checkbox] {height: 1.2em;width: 1.2em;vertical-align: middle;margin: 0 0.4em 0.4em 0;border: 1px solid rgba(0, 0, 0, 0.3);
background: -webkit-linear-gradient(#FCFCFC, #DADADA);-webkit-appearance: none;-webkit-transition: box-shadow 200ms;
box-shadow:inset 1px 1px 0 #fff, 0 0 4px rgba(0,0,0,0.3);-webkit-border-radius:2px;border-radius:2px;}				