/* default styles
   -------------- */
   
html{
	background-color: #ffffff;
}
body {
  background: #ffffff;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 11pt;
 
}
a {	color: #E0691A;	background: inherit;}
a:hover { color: #6C757A; background: inherit; }

h1 { font: normal 2.4em "Trebuchet MS", Arial, Sans-Serif; padding: 1px 0 0 8px; margin: 0; }
h1 a { color: #737373; background: inherit; }
.le-frog { color: #285C00; }
sup { font-size: .5em; }

h1 a, h2 a { color: #FF6600; text-decoration: none; }
h1 a:hover, h2 a:hover { color: #FF6600; background: inherit; }
h2 { font-size: 1.5em; margin-bottom: 5px; color: #000; background: inherit; }
p {	margin: 0 0 5px 0; }

ul { list-style : none; }

#loading { position: absolute; top: 40%; left: 40%; width:50px; padding: 5px 10px; font: 13px Arial; z-index:2;}

/* layout
   -------------- */
#wrapper {
	margin: 0 auto;
	position: relative;
}
#header {
	height: 50px;
	background: #fff url(../../../../library/gambar/headerbg.gif) repeat-x bottom;
	color: #808080;
	margin: 2px 0 0 0;
	padding: 2px 0 0 0;
	font-size: 1.1em;
}
#right_menu {
	width: 300px;
	color: #ff0000;
	margin-bottom: 20px;
	margin-top:-3px;
	border-right: 1px dotted #999999;
	float: right;
	overflow:auto;
}
#main_content {
	color: #000000;
	padding: 5px;
	font-size: 1.1em;
}
#foot {
	font-size: 1.1em;
	line-height: 2.8em;
	height: 36px;
	text-align: center;
	border:1px dotted #808080;
	position:absolute;
	/*background: #fff url(../../../library/gambar/headerbg.gif) repeat-x bottom;*/
	bottom:0;
	width: 99.8%;
	overflow:auto;
}
.table {
	display: table;
}
.table_row {
	display: table-row;
}
.table_cell {
	display: table-cell;
}

#accordion {
	padding: 4px;
	width: 190px;
}
#accordions {
	padding:0px 4px 4px 4px;
	width: 190px;
}
#split {
	height:280px;
	width:200px;
	border:1px dotted #999;
	margin-top : 5px;
	overflow:auto;
}
.menu {}
.menu ul, .menu ul li {
	display: inline;
	font-size: 1em;
	text-align: center;
	line-height: 25px;
	list-style-type: none;
	margin:0;
	padding:0;
}
.menu ul {height:25px;}
.menu ul li a {
	display: block;
	background:transparent url(../images/menu_bg.png) no-repeat scroll center bottom;
	color:#aaaaaa;
	height:25px;
	text-decoration:none;
}
.menu ul li.selected a {
	color:#ff6600;
	background:transparent url(../images/menu_bg_hover.png) no-repeat scroll center bottom;
}
.menu ul li.last a {background: none;}
input.exportbtn { 
		background: #E0691A url(../../../../library/gambar/exprt.gif) no-repeat;
		border: 0;
		padding: 0 0 0 20px;
		width: 65px;
		height: 16px;
		margin: 0 0 0 0;
		color: #FFF;
		font: bold 1em Arial, Sans-Serif;
		font-size:10px;
		text-align:left;
		
		}
.menu ul li a:hover {
	color:#ff6600;
	background:transparent url(../images/menu_bg_hover.png) no-repeat scroll center bottom;
}
.menu ul li.last a:hover {
	color:#ff6600;
	background: none;
}
.top_logo {
	padding: 2px 0 2px 0;
	color: #808080;
	float: left;
}

.top_logo_left {
		float: left;
	}
	
.top_logo_right {
		padding: 0 0 0 35px;
		float: right;
	}
	
.top_info {
	width: 555px;
	padding: 2px 0 2px 0;
	color: #808080;
	float: right;
}

.top_info_left {
		width: 250px;
		float: left;
	}
	
.top_info_right {
		
		width: 290px;
		padding: 0 0 0 0;
		float: right;
	}
	
.content_table {
	/*background: #f5f5f5;*/
	color: #414141;
	padding: 8px;	
	margin: 1px 0px 1px 0px;
}

.content_table_pod_dup {
	background: #f5f5f5;
	color: #414141;
	padding: 8px;	
	margin: 1px 0px 1px 0px;
	overflow:scroll;
}

.list_table {
	background: #f5f5f5;
	color: #414141;
	padding: 0 0 0 0;	
	margin: 0 0 0 0;
}
/* filter form 
----------------------------------*/
.filter { 
  background: #eee;
	color: #808080;
	padding:  2px 0 2px 10px;
	margin: 0 0 0 0;
}

.divcontent{
	color: #808080;
	padding:  2px 0 2px 10px;
	margin: 0 0 0 0;
}
.filter .filter { font-size: 1em; }
.filter input, .filter textarea { 
  background: url(../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 14px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
.filter select { 
  background: url(../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 20px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
.filter button { 
  background: url(../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 20px;
  color: #222222;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
}
.divcontent button {
	border: 1px solid #d0d0d0;
	height: 20px;
	color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
/* activity form 
----------------------------------*/
.activity { 
  padding:  0px 0 0px 10px;
	margin: 0 0 0 0;
}

.activity .activity { font-size: 1em; }
.activity input { }
.activity select { 
  height: 17px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
.activity button { 
  background: url(../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 20px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

/* dial form 
----------------------------------*/
.dial { 
	padding:  0px 0 0px 10px;
	margin: 0 0 0 0;
}
.dial .dial { font-size: 1em; }
.dial input, .dial textarea { 
  background: url(../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 14px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
.dial select { 
  background: url(../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 20px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
input.submit { background: #E0691A url(../../../library/gambar/submit.gif) no-repeat;
border: 0;padding: 4px 0;width: 120px;margin: 0 10px 1px 0;color: #FFF;font: bold 1em Arial, Sans-Serif;vertical-align: middle;
}

.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height:1%; }
.clearfix {display:block;}
/* End hide from IE-mac */

#right_menu ul li a{ color: #FF6600; text-decoration: none; }
#right_menu ul li a:hover{ color: #FF6600;font-size:11px;color:blue;}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

a.sbutton{
background: transparent url(../../../library/gambar/square-green-left.gif) no-repeat top left;
display: block;
float: left;
font: normal 12px Arial; /* Change 12px as desired */
line-height: 15px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 23px) */
height: 23px; /* Height of button background height */
padding-left: 9px; /* Width of left menu image */
text-decoration: none;
}

a:link.sbutton, a:visited.sbutton, a:active.sbutton{
color: #494949; /*button text color*/
}

a.sbutton span{
background: transparent url(../../../library/gambar/square-green-right.gif) no-repeat top right;
display: block;
padding: 4px 9px 4px 0; /*Set 9px below to match value of 'padding-left' value above*/
}

a.sbutton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.sbutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: black;
}

.divbutton{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 100%;
}
.chatLine{border-bottom:1px dotted blue;padding:5px;}

/* pure **/

#msg_view {position:absolute; left:250px;width:225px;height:228px;}
#msg_txt {top:10px;width:170px;height:170px;border:0px dotted #666;position:absolute;margin:10px;left:12px; overflow:auto;font-family: 'Comic Sans MS',Textile,cursive;font-size:14px;color:#999;}
#accordion { border:0px solid #000;width:200px;}
#panel_user{border:1px solid #000000;}
p span {font-size:11px;}
.px {font-size:9px;font-family:Trebuchet Ms;color:#000;}
#purr-container {position: fixed;top: 0;right: 0;}
.notice {position: relative;width: 324px;}
.notice .close{position: absolute; top: 12px; right: 12px; display: block; width: 18px; height: 17px; text-indent: -9999px; background: url(../../../library/gambar/purrClose.png) no-repeat 0 10px;}
.notice-body {min-height: 50px;padding: 22px 22px 0 22px;background: url(../../library/gambar/purrTop.png) no-repeat left top;color: #f9f9f9;}
.notice-body img {width: 50px; margin: 0 10px 0 0; float: left;}
.notice-body h3 {margin: 0; font-size: 1.1em;}
.notice-body p {margin: 5px 0 0 60px; font-size: 0.8em; line-height: 1.4em;}
.notice-bottom {height: 22px;background: url(../../library/gambar/purrBottom.png) no-repeat left top;}
h3 a {font-size:12px;color:#FFF}
h3 a:hover {font-size:14px;color:#FFF}
.msg_icon{float:left;padding-right:0px;margin-left:-1200;}

