/* default styles
   -------------- */
   
html{
	background-color: #ffffff;
}
body {
  background: #ffffff;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  color: #000000;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-size: 11px;
 
}
table{ padding:8px;}
a {	color: #E0691A;	background: inherit;}
a:hover { color: #6C757A; background: inherit; }

h1 { font: normal 2.4em "Trebuchet MS", Arial, Sans-Serif; padding: 1px 0 0 8px; margin: 0; }
h1 a { color: #737373; background: inherit; }
.le-frog { color: #285C00; }
sup { font-size: .5em; }

h1 a, h2 a { color: #FF6600; text-decoration: none; }
h1 a:hover, h2 a:hover { color: #FF6600; background: inherit; }
h2 { font-size: 1.5em; margin-bottom: 5px; color: #000; background: inherit; }
p {	margin: 0 0 5px 0; }

ul { list-style : none; }

#loading { position: absolute; top: 40%; left: 40%; width:50px; padding: 5px 10px; font: 13px Arial; z-index:2;}

/* layout
   -------------- */
#wrapper {
	
}
#main_content {
	color: #000000;
	padding-left: 20px;
	font-size: 1.1em;
}
#foot {
	font-size: 1.1em;
	line-height: 2.8em;
	height: 36px;
	text-align: center;
	border:1px dotted #808080;
	position:absolute;
	/*background: #fff url(../../../library/gambar/headerbg.gif) repeat-x bottom;*/
	bottom:0;
	width: 99.8%;
	overflow:auto;
}
.table {
	display: table;
}
.table_row {
	display: table-row;
}
.table_cell {
	display: table-cell;
}

#accordion {
	padding: 4px;
	width: 190px;
}
#accordions {
	padding:0px 4px 4px 4px;
	width: 190px;
}
#split {
	height:280px;
	width:200px;
	border:1px dotted #999;
	margin-top : 5px;
	overflow:auto;
}
.menu {}
.menu ul, .menu ul li {
	display: inline;
	font-size: 1em;
	text-align: center;
	line-height: 25px;
	list-style-type: none;
	margin:0;
	padding:0;
}
.menu ul {height:25px;}
.menu ul li a {
	display: block;
	background:transparent url(../../../../images/menu_bg.png) no-repeat scroll center bottom;
	color:#aaaaaa;
	height:25px;
	text-decoration:none;
}
.menu ul li.selected a {
	color:#ff6600;
	background:transparent url(../images/menu_bg_hover.png) no-repeat scroll center bottom;
}
.menu ul li.last a {background: none;}
input.exportbtn { 
		background: #E0691A url(../../../../library/gambar/exprt.gif) no-repeat;
		border: 0;
		padding: 0 0 0 20px;
		width: 65px;
		height: 16px;
		margin: 0 0 0 0;
		color: #FFF;
		font: bold 1em Arial, Sans-Serif;
		font-size:10px;
		text-align:left;
		
		}
.menu ul li a:hover {
	color:#ff6600;
	background:transparent url(../../../../images/menu_bg_hover.png) no-repeat scroll center bottom;
}
.menu ul li.last a:hover {
	color:#ff6600;
	background: none;
}
.top_logo {
	padding: 2px 0 2px 0;
	color: #808080;
	float: left;
}

.top_logo_left {
		float: left;
	}
	
.top_logo_right {
		padding: 0 0 0 35px;
		float: right;
	}
	
.top_info {
	width: 555px;
	padding: 2px 0 2px 0;
	color: #808080;
	float: right;
}

.top_info_left {
		width: 250px;
		float: left;
	}
	
.top_info_right {
		
		width: 290px;
		padding: 0 0 0 0;
		float: right;
	}
	
.content_table {
	color: #414141;
	padding-left: 5px;	
	padding-right: 5px;	
	padding-top:8px;
	padding-bottom:8px;
	margin-bottom:200px;
	margin: 1px 0px 1px 0px;
}

.content_table_pod_dup {
	background: #f5f5f5;
	color: #414141;
	padding: 8px;	
	margin: 1px 0px 1px 0px;
	overflow:scroll;
}

.list_table {
	background: #f5f5f5;
	color: #414141;
	padding: 0 0 0 0;	
	margin: 0 0 0 0;
}
/* filter form 
----------------------------------*/
.filter { 
  background: #eee;
	color: #808080;
	padding:  2px 0 2px 10px;
	margin: 0 0 0 0;
}

.divcontent{
	color: #808080;
	padding:  2px 0 2px 10px;
	margin: 0 0 0 0;
}
.filter .filter { font-size: 1em; }
.filter input, .filter textarea { 
  background: url(../../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 14px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
.filter select { 
  background: url(../../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 20px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
.filter button { 
  background: url(../../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 20px;
  color: #222222;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
}
.divcontent button {
	border: 1px solid #d0d0d0;
	height: 20px;
	color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
/* activity form 
----------------------------------*/
.activity { 
  padding:  0px 0 0px 10px;
	margin: 0 0 0 0;
}

.activity .activity { font-size: 1em; }
.activity input { }
.activity select { 
  height: 17px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
.activity button { 
  background: url(../../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 20px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}

/* dial form 
----------------------------------*/
.dial { 
	padding:  0px 0 0px 10px;
	margin: 0 0 0 0;
}
.dial .dial { font-size: 1em; }
.dial input, .dial textarea { 
  background: url(../../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 14px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}
.dial select { 
  background: url(../../../../library/gambar/input_bg.png) no-repeat top left;
  border: 1px solid #d0d0d0;
  height: 20px;
  color: #222222;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: middle;
}


.clearfix:after {
content:".";
display:block;
height:0;
clear:both;
visibility:hidden;
}
.clearfix {display:inline-block;}
/* Hides from IE-mac \*/
* html .clearfix { height:1%; }
.clearfix {display:block;}
/* End hide from IE-mac */

#left_menu ul li a{ color: #FF6600; text-decoration: none; }
#left_menu ul li a:hover{ color: #FF6600;font-size:11px;color:blue;}

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */


.chatLine{border-bottom:1px dotted blue;padding:5px;}

/* pure **/

#msg_view {position:absolute; left:250px;width:225px;height:228px;}
#msg_txt {top:10px;width:170px;height:170px;border:0px dotted #666;position:absolute;margin:10px;left:12px; overflow:auto;font-family: 'Comic Sans MS',Textile,cursive;font-size:14px;color:#999;}
#accordion { border:0px solid #000;width:200px;}
#panel_user{border:1px solid #000000;}
p span {font-size:11px;}
.px {font-size:9px;font-family:Trebuchet Ms;color:#000;}
#purr-container {position: fixed;top: 0;right: 0;}
.notice {position: relative;width: 324px;}
.notice .close{position: absolute; top: 12px; right: 12px; display: block; width: 18px; height: 17px; text-indent: -9999px; background: url(../../../../library/gambar/purrClose.png) no-repeat 0 10px;}
.notice-body {min-height: 50px;padding: 22px 22px 0 22px;background: url(../../../../library/gambar/purrTop.png) no-repeat left top;color: #f9f9f9;}
.notice-body img {width: 50px; margin: 0 10px 0 0; float: left;}
.notice-body h3 {margin: 0; font-size: 1.1em;}
.notice-body p {margin: 5px 0 0 60px; font-size: 0.8em; line-height: 1.4em;}
.notice-bottom {height: 22px;background: url(../../../../library/gambar/purrBottom.png) no-repeat left top;}
h3 a {font-size:12px;color:#FFF}
h3 a:hover {font-size:12px;color:#FFF}
.msg_icon{float:left;padding-right:0px;margin-left:-1200;}


/* oment - spiner class plugin of jquery */

.ui-widget-ajax-spiner { vertical-align:center; text-align:center; float:center; height:100%; width:100%; background: #FFFFFF url(../../../../library/gambar/main-content-ajax-loader.gif)  50% 50%  no-repeat; opacity: 0.80; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80); filter: alpha(opacity = 80); }
.ui-widget-ajax-spiner-min { vertical-align:center; text-align:center; float:left; height:100%; width:100%; background: #FFFFFF url(../../../../library/gambar/loading.gif)  50% 50%  no-repeat; background-size:16px 16px; opacity: 0.80; -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 80); filter: alpha(opacity = 80); }


/* @ pack : global class css place on here */
.ui-widget-toolbars {font-family:Arial, Helvetica, sans-serif; font-size:11px; background-repeat: repeat-x; border:0px solid #dddddd; margin: 0px 5px 0px 5px; padding : 0px 0px 0px 0px;}
.ui-widget-toolbars ul {height:25px; background-image:url('../../../../library/gambar/pager_bg.png'); border:1px solid #dddddd; margin: 0px -8px 2px -5px; padding: 8px 1px 5px 1px; text-align: left; }
.ui-widget-toolbars  ul  li{ display: inline; }
.ui-widget-toolbars li { margin: -20px 0px 1px 0px; padding: 2px 8px 2px 8px; list-style-type: none; text-align: left; }
.ui-widget-toolbars li.middle {border-right:1px solid #EEEDDD; }
.ui-widget-toolbars li.lasted { border-right:0px solid #EEEDDD;}
.ui-widget-toolbars div.label {display: inline; color:red;border:0px solid #000000; font-size:11px; padding : 2px }
.ui-widget-toolbars input {display: inline; border-radius:3px; border:1px solid #cccddd; font-size:11px;height:18px; background:url(../../../../library/gambar/input_bg.png); margin: -20px 5px 0px 2px; }
.ui-widget-toolbars select { min-width: 70px; width:180px; display: inline; border-radius:3px; border:1px solid #cccddd; font-size:11px; height:22px; background:url(../../../../library/gambar/input_bg.png); margin: -20px 5px 0px 2px; }
.ui-widget-toolbars input:hover { border:1px solid red; }
.ui-widget-toolbars select :hover{ border:1px solid red; }
.ui-widget-toolbars b { color:red; font-weight:normal;}


/* ----------------------------------------------------------- */

.widget-user-toolbar-footer { font-family:Arial, Helvetica, sans-serif;  float:center; background-color:#FFF; padding-right:1px; padding-bottom:4px;font-size:12px;border:1px solid #dddddd; height:38px;  text-align:right; margin:-3px -1px 0px -1px;}

/*--------- select down ----------------------- */

.toggle-notactive{ background : url(../../../../library/gambar/icon/bullet_toggle_minus.png) no-repeat top left; }
.toggle-active{ background : url(../../../../library/gambar/icon/bullet_toggle_plus.png) no-repeat top left; }
.toggle-notactive{ float:right;cursor:pointer;  z-index:9999;}
.toggle-active{float:right;cursor:pointer; z-index:9999;}
.ui-down-active { padding:6px 6px 6px 6px; margin: -25px -25px 2px 0px; }
.ui-down-default{ padding:6px 6px 6px 6px; margin: 0px -20px 2px 0px;  } 


/* ----------------------------------------------------------- 
 *  form table layput div 
 */
 
.ui-widget-form-caption-top{ caption-side : top; display: table-caption;}
.ui-widget-form-caption-bottom{ caption-side : bottom; display: table-caption;}
.ui-widget-form-table { display: table; margin: 10px 0px 0px 10px; float : left; }
.ui-widget-form-table-center{ display: table; margin: 10px 0px 0px 10px; float : center; }
.ui-widget-form-table-left{ display: table; margin: 10px 0px 0px 10px; float : left; }
.ui-widget-form-table-right{ display: table; margin: 10px 0px 0px 10px; float : right; }
.ui-widget-form-table-compact{ display: table; margin: 10px 0px 0px 10px;}
.ui-widget-form-row  { display: table-row; padding:5px 2px 5px 2px; margin : 3px 3px 3px 3px}
.ui-widget-form-cell { display: table-cell; padding:5px 2px 5px 2px; white-space: nowrap; margin:10px 1px 0px 1px; vertical-align:middle;}
.ui-widget-form-table-maximum{ width:99% }

/*
 on widget foto frame  
--------------------------------------------------------------*/
 
.ui-widget-foto { color:#dddddd;text-align:center;vertical-align:middle;font-size:11px;padding:1px; width: 110px; height:140px; background-image:url('../../../../library/gambar/unon.png'); background-size: 100% 100%;border:1px solid #BACEDD; background-repeat: no-repeat; border-radius:3px;cursor:pointer;}			 
.ui-widget-foto:hover { background-color:#000000; opacity:0.5; }
.ui-widget-content-corner { margin:3px 8px 8px 8px; padding:5px 5px 10px 8px;}
.ui-widget-select-order { background-color:#FFFCCC;color:#994303; }
.ui-widget-tab-close-customize{ cursor:pointer;}
.ui-widget-tab-close-customize:hover{ cursor:pointer;border:1px solid #dddddd;}
.ui-widget-unselect-order {}
.ui-widget-panel-form { margin:-2px 8px 12px 8px; padding :0px 0px 4px 0px; border-bottom:1px solid #dddddd;}
.ui-widget-label-textmessage{ padding: 3px;  font-family:Trebuchet MS; letter-spacing:1px; font-size:11px; border-radius:5px; margin:3px 2px 3px 2px; text-align:left; }

/*
 on widget-span-button-class - tabs 
 --------------------------------------------------------------*/
 .ui-widget-content-top { vertical-align:top;}
 .ui-widget-content-middle { vertical-align:middle;}
 .ui-widget-content-bottom { vertical-align:top;}
 
 
 pre { word-wrap:break-word; border:1px solid #ddd; color:#4a6d8e;background-color:#f3f8fc;font-family:Consolas; border-radius:3px; padding:5px;}
/** END CLASS CORE CSSS **/
