/* 
	
	Style for Danamon
  
 */
 
body, html { margin:0; padding:0; line-height: 1.5em; 
	           font-family:Arial, Helvetica, sans-serif; 	           
	           text-align:left;font-size:11px;
			   color:#666666;}
	           
.clear-both {
	clear:both;
}

 
/*Inside*/
#container-inside { margin: 0 auto; padding:0; width:'100%'; position: relative; height:777px;}
#container-inside #header { background: url(../images/heeader.png) no-repeat; background-size:1500px 60px; width:auto; height:60px; margin: 0 0 0 0; padding: 0;}
#container-inside #header #logo { position:absolute; margin:0; padding:0; left:55px; top:25px; width:247px; height:67px;}
#container-inside #header #lang { z-index:3; text-align: center; top:0; background: url(images/bg-lang.png) no-repeat; display:block; width:70px; height:25px; position:absolute; right:30px;}
#container-inside #menu { margin: 0 0 0 55px;}

#container-inside .web-shipet-header{
	border:0px solid #000;
	height:110px;
	width:400px;
	float:right;
	margin-top:-10px;
	margin-right:-25px;
	z-index:99999;
	background: url(../images/heeader-right2.png) no-repeat; background-size:400px 118px; 
	background-position:10% 50%; 
	opacity:0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
}


.header-controls {
	float:right;	
	font-size:4px;	/*IE reserves space for the text even when there is no text. Setting the font-size to 0 removed your gap for UL */
	padding-top:0px;
	padding-right:10px;
	
}

.header-controls ul li {
	float:left;
	list-style-type:none;
	border-left:1px solid #b8b9c5;
	margin-left:7px;
	padding-left:7px;		
	padding-top:20px;
	color: #FFF;
	font-size:12px;	
	font-weight: bold;
	text-decoration: none;
}

.header-controls ul li.first {
	top: 0px;
	background : url(../../../../library/gambar/icon/user.png) no-repeat ; 
	background-position:0% 90%; 
	border-left:none;
	margin-left:0;
	padding-left:20px;
}

.header-controls a{
	text-decoration:none;
	color:#FFFFFF;
}

.header-controls a:hover{
	text-decoration:none;
	color:#effb6f;
	font-weight:bold;
}

.menu {
	background:#b7d9f8;
	padding:0px;
	margin-bottom:10px;
	border-bottom:1px solid #ebfef7;
}
div#result_content_add{
	text-align:left;
}
.menu ul {
	font-size: 12px;
	font-weight:bold; 
	margin: 2px;
	padding: 2px;
	list-style: none;
	display: inline-table;
}
.menu ul li {
	display: block;
	position: relative;
	float: left;
}
li.first-menu {
	border-right:1px solid #d8e2eb;
}
li.lasted-menu{
	border-right:0px solid #d8e2eb;
}
.menu li ul { display: none; }
.menu ul li a {
	display: block;
	text-decoration: none;
	color: #fff;
	padding: 1px 10px 2px 10px;
	white-space: nowrap;
}

.menu ul li a:hover { background: #25bcfb;color:#fff;}
.menu li:hover ul { 
	display: block; 
	position: absolute;
}
.menu li:hover li { 
	float: none;
	font-size: 11px;
}
.menu li:hover a { background: #FFFFFF; }
.menu li:hover li a:hover { background: #95A9B1; }


.custdata {
	font-family:Arial, Helvetica, sans-serif; 	 
	font-size: 12px;
}

.form_title {
	font-family:Arial, Helvetica, sans-serif; 	 
	font-size: 18px;
}

/* 
  Button styles 
  generated using: http://cssgradientbutton.com/#
*/
.dn_button{
 border:1px solid #DCA415; -webkit-border-radius: 5px; -moz-border-radius: 5px;border-radius: 5px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 8px 8px 8px 8px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(165,169,78,0.3);font-weight:bold; color: #431801;
 background-color: #FEDC6B; background-image: -webkit-gradient(linear, left top, left bottom, from(#FEDC6B), to(#FFD64B));
 background-image: -webkit-linear-gradient(top, #FEDC6B, #FFD64B);
 background-image: -moz-linear-gradient(top, #FEDC6B, #FFD64B);
 background-image: -ms-linear-gradient(top, #FEDC6B, #FFD64B);
 background-image: -o-linear-gradient(top, #FEDC6B, #FFD64B);
 background-image: linear-gradient(to bottom, #FEDC6B, #FFD64B);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FEDC6B, endColorstr=#FFD64B);
}

.dn_button:hover{
 border:1px solid #fdc406;
 background-color: #fed038; background-image: -webkit-gradient(linear, left top, left bottom, from(#fed038), to(#ffca18));
 background-image: -webkit-linear-gradient(top, #fed038, #ffca18);
 background-image: -moz-linear-gradient(top, #fed038, #ffca18);
 background-image: -ms-linear-gradient(top, #fed038, #ffca18);
 background-image: -o-linear-gradient(top, #fed038, #ffca18);
 background-image: linear-gradient(to bottom, #fed038, #ffca18);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#fed038, endColorstr=#ffca18);
}

.box-shadow{
	background:url(../images/shaded_corner.jpg) 0% top no-repeat;
	filter:alpha(opacity=60);
}	
.extToolbars{
	text-align:left;	
}

th.contact-history-table {
	background:#b7d9f8;
	padding:2px;
	border-bottom:1px solid #a8a9af;
	height:24px;
	color:#FFFFFF;
}


th.first{
	border-right:1px solid #dddddd;
}

th.first:hover{
	color:red;	
	cursor:pointer;
	background: #94bde4;
}
td.contact-history-table {
	font-family:Arial;
	font-weight:normal;
	font-size:12px;
	padding:0px;
	color:#6f6f94;
	background:url(../../../../library/gambar/textarea_bg.png) repeat-x;
}

div.text-content{ resize:both; overflow:auto;vertical-align:top;}
td.first{border-top:1px solid #c4c4d1; border-left:1px solid #e5e5eb;vertical-align:top;height:30px;}
td.middle{border-top:1px solid #c4c4d1;border-left:1px solid #e5e5eb;vertical-align:middle;height:30px;}
td.lasted{border-top:1px solid #c4c4d1;border-right:1px solid #e5e5eb;border-left:1px solid #e5e5eb;height:30px;}
td.first:hover{color:red;cursor:pointer;background-color:#FFFFFF;}
td.middle:hover{color:red;cursor:pointer;background-color:#FFFFFF;}
td.lasted:hover{color:red;background-color:#FFFFFF; cursor:pointer;}
span.call-status{font-weight:bold;color:#BBB000;}
span.result-status{font-weight:bold;color:#FF4321;}
.left-text{ text-align:left;}
.center-text{ text-align:center; }
.right-text{ text-align:right;}
.justify-text{text-align:justify;line-height:20px;color:#b66c0d;}

div#web-title-header{
	text-shadow: 1px 1px 1px #000, 3px 3px 5px #FFFCCC;
	font-family:Arial;
	z-index:9999;
	position:fixed;
	margin-top:10px;
	font-size:18pt;
	font-weight:bold;
	margin-left:10px;
	color:#fdde7f; 
}


div#web-title-header:hover{
	cursor:pointer;
	text-shadow: 1px 1px 1px #000, 3px 3px 2px #FFFCCC;
	color:#FFCB37;
}

.page-web-voice {
	padding:4px;
	margin-top:-15px;
	margin-bottom:0px;
	font-size:11px;
	vertical-align:center;
	border-top:1px solid #ebfef7;
	clear:both;
}

.page-web-voice ul {
	font-size: 12px;
	font-weight:normal; 
	margin-top:0px;
	padding: 0px;
	list-style: none;
	display: inline-table;
	color:#87aacb;
	background-color:transparent;color:red;
}
.page-web-voice span{
	margin-top:-10px;
}
.page-web-voice-current {
	background-color:#25bcfb;
	color:#FFFFFF;
}

.page-web-voice-normal {color:#87aacb;background-color:transparent;color:red;}
.page-web-voice li {cursor:pointer;margin:1px;border:1px solid #dddddd;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:4px;
	padding-top:4px;
	
	
	
}
li.title-pages{ border: 0px solid #fff;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:4px;
	margin:1px;
	font-size:11px;
	color:#1b7f98;
}
.page-web-voice li.title-pages:hover{ background-color:transparent;color:red;}

.page-web-voice a{ text-decoration: yes; }
.page-web-voice li:hover { 
	background: #25bcfb;color:#fff;
}

.page-web-voice ul li {
	display: block;
	position: relative;
	float: left;
}
