.chatbox {
	position: fixed;
	position:expression("absolute");
	width: 225px;
	display:none;
}

.chatboxhead {
	/*background-color: #f99d39;*/
	background-image:url(../../../library/gambar/headBlink.png);
	padding:7px;
	color: #ffffff;
	font-size:12px;
	/*border-right:1px solid #f99d39;*/
	/*border-left:1px solid #f99d39;*/
}

.chatboxblink {
	/*background-color: #176689;*/
	background-image:url(../../../library/gambar/head.png);
	border-right:1px solid #176689;
	border-left:1px solid #176689;
}

.chatboxcontent {
	font-family: arial,sans-serif;
	font-size: 13px;
	color: #333333;
	height:200px;
	width:209px;
	overflow-y:auto;
	overflow-x:auto;
	padding:7px;
	border-left:1px solid #808080;
	border-right:1px solid #808080;
	border-bottom:1px solid #CCC;
	background-color: #ffffff;
	line-height: 1.3em;
	
}

.chatboxinput {
	padding: 5px;
	background-color: #ffffff;
	border-left:1px solid #808080;
	border-right:1px solid #808080;
	
}

.chatboxtextarea {
	width: 206px;
	height:44px;
	padding:3px 0pt 3px 3px;
	border: 1px solid #808080;
	margin: 1px;
	overflow:hidden;
}

.chatboxtextareaselected {
	/*border: 2px solid #f99d39;*/
	border: 2px solid #09F;
	margin:0;
}

.chatboxmessage {
	margin-left:1em;
}

.chatboxinfo {
	margin-left:-1em;
	color:#666666;

}

.chatboxmessagefrom {
	margin-left:-1em;
	font-weight: bold;
}

.chatboxmessagecontent {
}

.chatboxoptions {
	float: right;
}

.chatClear{float:right;margin-right:35px;}
.chatClear a{text-decoration:  none;}

.chatboxoptions a {
	text-decoration: none;
	color: white;
	font-weight:bold;
	font-family:Verdana,Arial,"Bitstream Vera Sans",sans-serif;
}

.chatboxtitle {
	float: left;
	margin-left:15px;
}