/** icon css */
.icon-application {
	background:url('../../../../library/gambar/icon/application_edit.png') no-repeat top left;
	height:24px;
	padding-left:12px;
	font-family:Arial;
}

.icon-customers {
	background:url('../../../../library/gambar/icon/group.png') no-repeat top left;
	height:24px;
	padding-left:12px;
	font-family:Arial;
}

.icon-callresult{
	background:url('../../../../library/gambar/icon/aux-p.png') no-repeat top left;
	height:24px;
	padding-left:12px;
	font-family:Arial;

}

.icon-userapplication {
	background:url('../../../../library/gambar/icon/group_key.png') no-repeat top left;
	height:24px;
	padding-left:12px;
	font-family:Arial;
}
.icon-product {
	background:url('../../../../library/gambar/icon/application_add.png') no-repeat top left;
	height:24px;
	padding-left:12px;
	font-family:Arial;
}


.icon-menulist {
	background:url('../../../../library/gambar/icon/app.png') no-repeat top left;
	height:24px;
	padding-left:12px;
	font-family:Arial;
}

.icon-campaign {
	background:url('../../../../library/gambar/icon/database_add.png') no-repeat top left;
	height:24px;
	padding-left:12px;
	font-family:Arial;
}

.icon-callactivity {
	background:url('../../../../library/gambar/icon/book_open.png') no-repeat top left;
	height:24px;
	padding-left:12px;
	font-family:Arial;
}
.icon-benefit{
	background:url('../../../../library/gambar/icon/award_star_bronze_1.png') no-repeat top left;
	height:24px;
	padding-left:12px;
	font-family:Arial;
}

.icon-phone {
	background:url('../../../../library/gambar/icon/ipod_sound.png') no-repeat top left;
	height:24px;
	padding-left:12px;
	font-family:Arial;
}


.button-call{
	border:0px;
	background:url('../../../../library/gambar/dial-icon.png') no-repeat top left;
	cursor:pointer;
	width:75px;
	height:35px;
}
.edit-users-x{
	background:url('../../../../library/gambar/user_edit.png') no-repeat top left;
	height:24px;
	padding-left:12px;
	font-family:Arial;
}
.icon-brodcastmsg{
	background:url('../../../../library/gambar/icon/email_go.png') no-repeat top left;
	height:24px;
	padding-left:12px;
	font-family:Arial;
}

.button-hangup{
	border:1px;
	background:url('../../../../library/gambar/hangup-icon.png') no-repeat top left;
	cursor:pointer;
	width:75px;
	height:35px;
}

.icon-dialog-title
{ 
	height:18px;
	padding-left:9px;
}
